# Git
.git
.gitignore

# Docker configuration (doesn't need to be inside the container)
compose.yaml
.dockerignore
README.md

# Node.js
# (We want Docker to run 'npm install' itself, not copy your local modules)
**/node_modules/
**/dist/
**/.astro/

# Python
# (Prevent copying locally compiled bytecode)
**/__pycache__/
**/*.pyc
**/*.pyo
**/venv/
**/.venv/

# Local Environment Variables
**/.env

# Massive Data Folders
# (These are mounted via volumes in compose.yaml, they shouldn't be baked into the image!)
data/
